/* --- Thème sombre --- */


/* ------------------- */


/* --- BACKGROUND --- */

.background {
    -fx-background-color: white;
}

.background2 {
    -fx-background-color: #bbbbbb;
    -fx-font-size: 16px;
    -fx-font-family: "Calibri";
    -fx-text-fill: black;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

.gridpane {
    -fx-background-color: #bbbbbb;
    -fx-border-color: black;
}


/* ------------------ */


/* --- BARRE MENU --- */

.barre-menu {
    -fx-background-color: rgb(150, 150, 150);
}

.img-close {
    -fx-image: url("../medias/black/close.png");
}

.img-settings {
    -fx-image: url("../medias/black/settings.png");
}

.separateur-menu {
    -fx-background-color: black;
}


/* --------------- */


/* --- CONTENU --- */

.titre-cat {
    -fx-font-size: 18px;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.lignes {
    -fx-stroke: black;
}

.lbl-bas {
    -fx-font-size: 24px;
    -fx-font-family: "Calibri";
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: #222222;
}

.lbl-desc {
    -fx-font-size: 12px;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.lbl-sous-desc {
    -fx-font-size: 12px;
    -fx-font-family: "System";
    -fx-text-fill: black;
}

.lbl-about-titres {
    -fx-font-size: 15px;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.lbl-about-contenu {
    -fx-font-size: 15px;
    -fx-font-family: "System";
    -fx-text-fill: black;
}

.btn-ok {
    -fx-font-size: 12px;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-text-fill: #00a113;
}

.btn-annuler {
    -fx-font-size: 12px;
    -fx-font-family: "System";
    -fx-text-fill: #e40000;
}

.btn-import {
    -fx-font-size: 15px;
    -fx-font-family: "Calibri";
    -fx-text-fill: black;
}

.radio-button {
    -fx-text-fill: white;
    -fx-font-size: 20px
}


/* -------------- */


/* --- IMAGES --- */

.img-cli {
    -fx-image: url("../medias/black/client.png");
}

.img-pro {
    -fx-image: url("../medias/black/pullover.png");
}

.img-com {
    -fx-image: url("../medias/black/order.png");
}

.img-cat {
    -fx-image: url("../medias/black/cat.png");
}